services:
  ollama:
    network_mode: host
    image: ollama/ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    ports:
      - 11434:11434/tcp
    volumes:
      - /var/opt/data/ollama/ollama:/root/.ollama
    devices:
      - /dev/dri
networks: {}