services:
  freshrss:
    restart: unless-stopped
    logging:
      options:
        max-size: 10m
    ports:
      - 29174:80
    environment:
      - TZ=America/New_York
      - CRON_MIN=1,31
      - PUID=1000
      - PGID=1000
    volumes:
      - /config/data:/var/www/FreshRSS/data
      - /config/extensions:/var/www/FreshRSS/extensions
    container_name: freshrss
    image: lscr.io/linuxserver/freshrss:latest
  fivefilters-full-text-rss:
    container_name: full-text-rss
    ports:
      - 50000:80
    restart: always
    image: heussd/fivefilters-full-text-rss:latest
networks: {}